  <% if @discussion.errors.any? %>
    <ul>
      <% @discussion.errors.full_messages.each do |msg| %>
      <li><h4><%= msg %></h4></li>
      <% end %>
    </ul>
  <% end %>

  <%= form_for([@project, @discussion]) do |f| %>
    <div class="form-group">
      <%= f.label :title %>
      <%= f.text_field :title, class: "form-control" %>
      <%= f.label :description %>
      <%= f.text_area :description, class: "form-control" %>
    </div>
    <%= f.submit class: "btn btn-primary" %>
  <% end %>
  <br>
  <br>  
  <p>Whoo</p>