<h3>Edit Your Comment</h3>
<div class="panel panel-info">
  <div class="panel-heading">
    <%= form_for([@discussion, (@comment || Comment.new)], remote: true) do |f| %>
      <div class="form-group">
      <%= f.label :body %>
      <%= f.text_area :body, class: "form-control" %>
      <br>
      <%= f.submit class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>

<p>this is edit.html.erb</p>


<div class="update-comment">
  <div class="well well-sm">
    <p><%= @comment.body %></p>
    <!-- <p>Updated On: <%= @comment.updated_at %></p> -->
    <p>Created By: <%= @comment.user.first_name %></p>
  </div>
</div>