<div id="<%= dom_id(task) %>">
  <% unless task.status == false %>
    <div class="well well-sm">
      <h4><%= link_to task.title, edit_project_task_path(@project, task) %></h4>
      <p><%= (task.details).truncate(60) %></p>
      <p>Task Initiated By: <%= task.user_first_name %></p>
      <p><%= link_to " Completed", project_task_path(@project, task, 
            task: { status: false }), method: :patch, class: "glyphicon glyphicon-check btn btn-success", remote: true %></p>
    </div>
  <% end %>  
</div>