<% if @task.errors.any? %>
  <ul>
    <% @task.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>

<div class="well form-group">
  <%= simple_form_for [@project, @task] do |f| %>
    <%= f.input :title, input_html: {class: "form-control"} %><br>
    <%= f.input :details, input_html: {class: "form-control"} %><br>
    <%= f.input :due_date, as: :date, html5: true, label: "Due Date " %><br>
    <%= f.submit "Submit", class: "btn btn-primary btn-sm", method: :patch %>
    <%= f.submit "Reset", class: "btn btn-info btn-sm", type: :reset %>
    <%= link_to 'Delete', project_task_path(@project, @task), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-sm" %>
  <% end %>
</div>