<div id="<%= dom_id(task) %>">
  <% unless task.status == true %>
    <div class="well well-sm">
      <h4><%= link_to task.title, edit_project_task_path(@project, task) %></h4>
      <p><%= task.details %></p>
      <p>Task Initiated By: <%= task.user_first_name %></p>
      <p><%= link_to " Incomplete", project_task_path(@project, task, 
            task: { status: true }), method: :patch, class: "glyphicon glyphicon-fire btn btn-danger", remote: true %></p>
    </div>
  <% end %>
</div>