<h1>Project Board</h1>
<p>Find me in app/views/projects/index.html.erb</p>

<%= form_tag(projects_path, :method => "get", id: "search-form") do %>
  <%= text_field_tag :search, params[:search], placeholder: "Search Projects" %>
  <%= submit_tag "Search", :name => nil %>
<% end %>
<hr>

<table class="table table-striped">
  <thead>
    <tr>
      <th class="col-md-8"><h3>Project</h3></th>
      <th class="col-md-2"><h3>Manager</h3></th> 
      <th class="col-md-2"><h3>Due Date</h3></th>
    </tr>
  </thead>
<% @projects.each do |project| %>
  <tr>
    <td><h4><%= link_to project.title, project_path(project) %></h4>
      <p><%= project.description.truncate(80) %></p></td>
    <td><%= project.user_full_name %></td>
    <td><%= delivery_date(project.due_date) %></td>
  </tr>
<% end %>

</table>

<%= will_paginate @projects %>